@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 59 130 246;
		--foreground: 54 54 54;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}

	* {
		@apply border-border;
	}

	body {
		@apply text-foreground;
		font-family: Arial, Helvetica, sans-serif;
	}
}

@layer components {
	.content-layout {
		min-height: calc(100vh - 3.5rem);
	}

	.home-letter {
		min-width: 0.6rem;
		transition: 0.2s ease-out;
		animation: home-letter-in 0.4s cubic-bezier(0.22, 0.15, 0.25, 1.43) 0s
			backwards;

		&:hover {
			transform: translate(0, -10px);
		}
	}

	@keyframes home-letter-in {
		0% {
			transform: translate(0, -20px);
			opacity: 0;
		}
	}

	.markdown {
		a {
			text-decoration: underline;
		}

		h3 {
			font-size: 1.5rem;
			font-weight: 600;
			line-height: 1.5;
			margin-top: 48px;
			margin-bottom: 12px;
		}

		h4 {
			font-size: 1.2rem;
			font-weight: 600;
			line-height: 1.5;
			margin-top: 12px;
			margin-bottom: 12px;
		}

		p,
		li {
			line-height: 1.5;
			font-size: 0.9rem;
			margin-bottom: 12px;
		}

		ul {
			list-style: initial;
		}

		ol,
		ul {
			margin-left: 20px;
		}
	}
}

@layer utilities {
	.bg-hover {
		background-color: rgba(0, 0, 0, 0.05);
	}

	.center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.mt-minus-10 {
		margin-top: -2.5rem;
	}
}
